<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	<processors>
	  <logout>
		<processor type="Sitecore.Pipelines.Logout.SitecoreCustomLogout, Sitecore.Custom.Logout" mode="on" patch:after="*[@type='Sitecore.Pipelines.Logout.GotoLogin, Sitecore.Kernel']" />
	  </logout>
	</processors>
  </sitecore>
</configuration>